
@import "./variaveis";

.buttonstyled {
  background-color: $color-primary;
  &:hover {
    background-color: $hover-primary;
  }
}

.h1Styled {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}